*.iml
.gradle
local.properties

# Idea
/.idea/caches
/.idea/libraries
/.idea/dictionaries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/shelf/

.DS_Store
/build
/captures
.externalNativeBuild
.cxx